{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Software Soluções<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<p>Nome: Priscilla beraldi Rodrigues  </p>
<p>Nome: Mahteus Xavier Mendes dos Santos </p>
<p>Nome: Osmar Juior</p>
<p>Nome: Guilherme Galassi </p>
<p>Nome: Leonardo Hernandes</p>
<p>Nome: Lucas Lujan</p>


{% endblock %}
